<main>
  <!-- Just an image -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
      <img src="logo-light.png" width="40" height="40" alt="">
      <b><i class="font-monospace">Universal Convertor</i></b>
    </a>
  </nav>
  <router-outlet></router-outlet>
</main>
<footer id="footer" class="bg-body-tertiary text-center text-lg-start justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.05);">
  <div class="text-center p-3">
    © {{year}} Copyright:
    <a class="text-body" href="https://www.linkedin.com/in/fathi-bensari-713402196/">techwithfathi.com</a>
  </div>
</footer>


