<div class="container mt-5">
  <div class="jumbotron text-center w-75 m-auto">
    <img src="logo-light.png" alt="universal convertor logo" width="70" height="70">
    <h1 class="fw-bolder mt-2">Welcome to Universal Converter</h1>
    <p class="lead fw-semibold">The ultimate tool for converting your media files.</p>
    <hr class="my-4">
    <p class="fw-medium">
      Whether you need to convert images, audio, or video files, Universal Converter has got you covered. Our web app supports a wide range of formats and ensures high-quality output. Fast, reliable, and easy to use, Universal Converter is your go-to solution for all your media conversion needs.
    </p>
    <a class="btn btn-primary btn-sm" routerLink="/convertor" role="button">Convert Now</a>
  </div>
</div>
